/* question card & tabe spacer  */


/* #questionCard {
    padding-top: 10%;
} */

#startBtn {
    margin-bottom: 10px;
}


/* #HSTable {
    height: auto;
} */


/* #HSTable {
    padding-top: 5%;
} */


/* bg stylizer */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: auto;
    background-image: url(https://media.giphy.com/media/A06UFEx8jxEwU/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    top: 0;
    position: fixed;
    overflow: hidden;
}

main {
    padding-top: 65px
}

footer {
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center
}

;
p {
    color: green;
    margin-left: auto;
    margin-right: auto;
}

;
#initials {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: green;
}

.choice {
    height: 25%;
    width: 80%;
    padding: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.choice label {
    font-size: 80%;
    margin: auto;
    color: green;
}

.card-body {
    align-items: center;
    padding: 0
}

#complete{ 
    align-self: center;
    max-height: 10vh;
    max-width: 10vw;
    margin: auto
}

#initials{
    align-self: center;
    width: 100%;
}